* {
    margin: 0;
    padding: 0;
    -webkit-content-sizing: border-content;
    -moz-content-sizing: border-content;
    content-sizing: border-content;
}

p {
    line-height: 20px;
    min-height: 20px;
    word-break: break-all;
}

pre {
    background: #f3f3f3;
    padding: 10px 16px;
    margin-top: 1em;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #585858;
}

button {
    padding: 5px 10px;
    font-size: 20px;
}

fieldset {
    padding: 10px;
}

input[type="text"],
input[type="tel"],
input[type="number"] {
    padding: 6px;
    font-size: 14px;
    display: block;
    width: 90%;
}

label {
    margin-right: 10px;
    background: #eee;
    padding: 4px 10px;
}

select {
    font-size: 20px;
    padding: 10px;
}

hr {
    margin: 10px 0;
}

#app {
    display: block;
    width: 600px;
    padding: 30px;
    border: 1px solid #ccf;
    margin: 30px auto;
    line-height: 2;
}
